# ratchetify recipes
require 'ratchetify'

# the application's name
set :application, 'yourapp'
set :host, 'www'
set :domain, 'yourapp.com'

# SSH user/password
set :user, 'uberspace_user' 
set :password, 'uberspace_user_password'

role :web, "some_server.uberspace.de" # Your HTTP server, Apache/etc
role :db,  "some_server.uberspace.de"

set :repo,  "https://github.com/you/yourapp.git"
set :repo_password, 'your_github_password'
set :branch, 'master'

set :daemon_port, 76543 # a random port. Make sure no one else uses it

# there are a couple more attributes, but normally you don't need to change them. See lib/ratchetify.rb and lib/ratchetify/base.rb for details.